<div class="container">
    <h1>My Tasks</h1>
</div>
<ul>
    <% @tasks.each do |task| %>
    <li>
        <input type="checkbox" name="<%= task.title %>" <%=task.completed ? "checked" : '' %>>
        <%= link_to task_path(task) do %>
        <%= task.title %>
        <% end %>
        .
        <%= link_to task_path(task),
      method: :delete,
      data: {confirm: "Delete #{task.title}?"} do %>
        <i class="far fa-trash-alt"></i>
        <% end %>
        <% end %>
</ul>
<div class="container">
    <hr>
    <%= link_to new_task_path do %>
    <i class="fas fa-plus"></i>
    <% end %>
    <%= link_to "Add a new task",new_task_path  %>
</div>
